language: node_js

sudo: false

cache:
  directories:
    - node_modules
  yarn: true

node_js: 8

script:
  - yarn test && yarn codecov
  - yarn check-size

deploy:
  provider: script
  skip_cleanup: true
  script:
    - yarn travis-deploy-once "yarn semantic-release"

branches:
  except:
    - /^v\d+\.\d+\.\d+$/
